<!DOCTYPE html>
<html lang="en">
  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <base target="_blank">
    <%= stylesheet_link_tag "errors.css" %>
  </head>

  <body class="errors">
    <div class="container">
      <%= yield %>
    </div>
  </body>
</html>
